.svg-container {
	text-align: center;
}

.training-button-block {
	margin: 5%;
}

.imgsvg3 {
	display: inline-block;
	width: 42%;
	height: 30%;
	vertical-align: middle;
	box-shadow: 0 0 2px #008000 inset;
	position: relative;
	padding-bottom: 60%; /* yes !! ; ) */
}

#notebook {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}