<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
  <!-- Tabs, now tabs wrapper is "views" -->
	<div class="views view-main tabs toolbar-fixed">
	<!-- Top Navbar-->
      <div class="navbar">
	    <div class="navbar-inner">
	        <div class="left"></div>
	        <div class="center">Тренажер</div>
	        <div class="right">
	            <a href="settings.html" class="link">
	                <i class="icon icon-bars"></i>
	            </a>
	        </div>
	    </div>
	  </div>
	  <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through toolbar-through">
          <!-- Page, "data-page" contains page name -->
          <div data-page="index" class="page">
	        <div class="page-content svg-container">
	        	<br>
	        	<div class="imgsvg3">
		        	<object width="100%" height="100%" id="notebook" data="svg/notebook.svg" type="image/svg+xml"></object>
	        	</div>
				<div>
					<div class="row training-button-block">
					  <div class="col-50">
					    <a id="noteBtn" href="#" class="button button-big">Нота</a>
					  </div>
					  <div class="col-50">
					    <a id="answerBtn" href="#" class="button button-big">Ответ</a>
					  </div>
					</div> 
				</div>
		    </div>
	      </div>
	    </div>
	</div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
	<script type="text/javascript" src="js/mustache.js"></script>
	<script id="octavesTemplate" type="x-tmpl-mustache">
		{{#octaves}}
		<div class="content-block-title" onclick="app.selectAll(this)">
		<span style="float:right">{{.}}</span>
			<label class="label-checkbox item-content">
			    <input type="checkbox" name="{{.}}" checked="checked">
			    <div class="item-media">
					<i class="icon icon-form-checkbox"></i>
			     </div>
			</label>
		</div>
		<div id="{{.}}" class="list-block">
		  <ul>
			{{#notes}}
		    <li>
		      <label class="label-checkbox item-content">
		        <input type="checkbox" checked="checked">
		        <div class="item-media">
		          <i class="icon icon-form-checkbox"></i>
		        </div>
		        <div class="item-inner">
		          <div class="item-title">{{.}}</div>
		        </div>
		      </label>
		    </li>
			{{/notes}}
		  </ul>
		</div>
		{{/octaves}}
	</script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>