<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a onclick="app.onBackBtnClick()" href="#" class="back link"> <i class="icon icon-back"></i><span>Назад</span></a></div>
    <div class="center sliding">Настройки</div>
    <div class="right">
    </div>
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div class="pages navbar-through toolbar-through">
	<!-- Page, "data-page" contains page name -->
	  <div data-page="settings" class="page">
	  <div class="page-content">
	  	<div class="octave-settings"></div>
	  </div>
	</div>
  </div>
</div>